
	   <img src="https://jsbirdi0001.github.io/informa/images/jatinder.png" width="100%">
	    <div class="footer">
	    	<div class="row col-md-12">
	    		<div class="col-lg-3 col-sm-6 px-5 pb-5 text-center">
	    		    <img src = "http://jsbirdi0001.github.io/informa/images/logo.png" class="img-fluid" width="400px"><br>
	    		    <span style="font-family:'Abril Fatface', cursive; font-size: 2rem">INFORMA</span>
	    		</div>
	    		<div class="col-lg-3 col-sm-6">
	    			<h3 class="text-center" style="font-family:'Abril Fatface'">Feedback</h3>
	    			<form action="?" method="POST" class="form-group">
	    			    <input type="text" placeholder="Full Name..." required class="form-control my-2"> 
	    			    <input type="email" placeholder="Email..." required class="form-control my-2 ">
	    			    <textarea type="text" placeholder="Feedback...." required class="form-control my-2"></textarea>
	    			    <input type="submit" class="btn btn-primary btn-block my-2" placeholder="Submit">
	    			</form>
	    		</div>
	    		<div class="col-lg-6 px-sm-3 pt-sm-5 p-0 text-center">
	    		    <h4 style=" font-weight: 200">DON'T FORGET FOR DAILY UPDATES</h4>
	    			<form method="POST" action="?" class="form-group">
	    			    <input class="form-control w-75 d-inline mt-1" type="text" placeholder="Enter your email here..." required>
	    			    <input class="btn btn-danger px-3 my-2" type="submit" placeholder="SUBSCRIBE!!" value="SUBSCRIBE!!!">
	    			</form>
	    			
				    <div class="col-md-12 py-3 text-center">
				        <a href="/" class="footer-link m-sm-3 m-0">
				            <button class="footer-btn">Home</button>
				        </a>
				        <a href="?" class="footer-link m-sm-3 m-0">
				            <button class="footer-btn">About Us</button>
				        </a>
				        <a href="?" class="footer-link m-sm-3 m-0">
				            <button class="footer-btn">Contact Us</button>
				        </a>
				        
	    			</div>
	    			
	    			
	    		</div>
	    	</div>
	    </div>
    </body>
</html>