<% include partials/header %>



<div class="p-2 index-container">
	<div class="m-3">
		<div class="p-3 border">
			<div class="row">
				<div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500" >
					<div class="display-4-custom">
						<i class="fas fa-dollar-sign"></i> <br>
						<span style="font-family: 'Abril Fatface',cursive; ">PRICE</span>
					</div>
					<p>
						Buying books can be expensive, especially if you like to read a lot! Here at Book Outlet, we know everyone loves a good bargain. That’s why we have made it our mission to offer you a huge selection of books at fantastic discounted prices of 50-90% off the original list price.
					</p>
				</div>
				<div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500" >
					<div class="display-4-custom">
						<i class="fas fa-book"></i> <br>
						<span style="font-family: 'Abril Fatface',cursive; ">PRODUCT</span>
					</div>
					<p>
						Wondering how we manage those discounts? Here’s our secret: our books are marked down because most of them are marked with a small line or dot on the edge by publishers who sell us their returns and excess inventory. The books we sell are new, unread, and in good condition.
					</p>
				</div>
				<div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
					<div class="display-4-custom">
						<i class="fas fa-comments"></i> <br>
						<span style="font-family: 'Abril Fatface',cursive; ">SERVICE</span>
					</div>
					<p>
						We believe that being the bestseller in bargain books is about much more than providing you with great selection and value. We want you to have an enjoyable shopping experience from start to finish! If you have a question or concern, give us a call during business hours, or send us an email
					</p>
				</div>
			</div>
			<div class="col-md-12 index-book aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="row">
		<div class="col-md-4 p-5">
			Jatinde Singh
		</div>
		<div class="col-md-4 p-5">
			Jatinde Singh
		</div>
		<div class="col-md-4 p-5">
			Jatinde Singh
		</div>
	</div>
</div>


<% include partials/footer %>
