<% include ./partials/header %>
<br><br>
<h1 class="alert alert-warning text-center">You Must Login/Register to get access of this Website</h1>
<div class="col-lg-5 col-md-6 col-sm-10 col-12 p-0 bg-light border" style="margin: 0 auto">
    <h1 class="bg-danger text-center text-white p-2">Register Form</h1>
    <form action="/register" method="POST" class="form-group p-2">
        <p id="error" class="text-danger"></p>
        <input type="text" name="username" class="form-control my-2" placeholder="Username Here........" autofocus required>
        <input type="email" name="email" class="form-control my-2" placeholder="Email Here........"  required>
        <input type="password" id="p1" name="password" class="form-control my-2" placeholder="Create Password........" required>
        
        <p>Already Have Account?? <a href="/login">Login Here</a></p>
        <button class="btn btn-danger m-2">Register</button>
    </form>
</div>

<% include ./partials/footer %>